<% provide(:title, "About Us") %>
<h1>About Us</h1>
<p>
  We are a premier <a target="_" href="http://en.wikipedia.org/wiki/Product_management">product management</a> community, physically based in San Francisco and online. We help our members:
</p>
<ul>
  <li><strong>Learn</strong> PM skills and best practices</li>
  <li><strong>Network</strong> and learn from peers</li>
  <li><strong>Empower</strong> members in their PM careers</li>
</ul>
