<% provide(:title, "Events") %>
<h1>Events</h1>
<p>
  We host live events in San Francisco, California.
</p>


<iframe src="http://meetup.com/ProductLoversSF/ width="600" height="500" frameborder="0"></iframe>
