<div class="center hero-unit">
  <h1>PM Community Home</h1>

  <h2>
    This is the home page for the <a href="http://productmanagementfasttrack.com/">Product Management Fast Track</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("pmfasttrack.jpeg", alt: "PMFastTrack"), 'http://productmanagementfasttrack.com/' %>
