<div class="center hero-unit">

  <h1>
    Welcome to
  </h1>
  <h1>
    <a href="http://productmanagementfasttrack.com/">Product Management Fast Track</a>
  </h1>

  <br /><br />

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <br /><br /><br />

  <h2>Our past speakers have included product managers from:</h2>

  <%= image_tag("asana.png", alt: "Asana logo", width: 200) %>

  <%= image_tag("indiegogo.jpg", alt: "Indiegogo logo", width: 200) %>
</div>


