<footer class="footer">
  <small>
    <a href="http://productmanagementfasttrack.com/">Product Management Fast Track</a>
  </small>
  <nav>
    <ul>
      <li>Follow <a target="_" href="https://twitter.com/PMFastTrack">@PMFastTrack</a></li>
      <li>|&nbsp;&nbsp;<%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
